*.pyc
*.log
*.swp
*.bak
*.weights
*.DS_Store
.vscode
.coverage
log/*
.idea/
.pytest_cache/
.cache
htmlcov/*
data/competitions/*
data/docs
data/nltk_data
huqie
dist
build
data/huqie.zip
data/nltk_data.zip
examples/retrievers/indexs
output
examples/rag/indexs
examples/rag/mobile_rag.py
gomate/modules/clusters