tqdm
hyperopt
h5py
coverage
codecov
pytest
pytest-cov
flake8
flake8_docstrings
pydocstyle
openai
datasets
langchain
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-openai
langsmith
transformers
pandas
nltk
sentencepiece
PyPDF2
html2text
beautifulsoup4
faiss-cpu
umap-learn
sentence_transformers
threadpoolctl
PyMuPDF
hanziconv
datrie
xpinyin
python-pptx
pdfplumber
readability
html_text
python-docx
tortoise
python-magic
html_text
readability
PyMuPDF
hanziconv
PyPDF2
gradio
loguru
xgboost
bm25s
jieba
accelerate
FlagEmbedding
chardet
openpyxl
protobuf
peft
minio
bson
elasticsearch
pymongo==4.8.0